<div class=row>
  <div class="col" *ngFor="let series of timeSeries">
    <button type="button" class="btn btn-light btn-block" [ngClass]="{'active': series.isSelected}" (click)="onSelected(series)">{{series.text}}</button>
  </div>
</div>