<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Light stock analyzer</a>
  <app-autocomplete (selected)="onSelectedCompany($event)"></app-autocomplete>
</nav>

<section class=container>
  <router-outlet></router-outlet>
</section>