<article class="stock card">
  <header class=stock-header>
    <div class=stock-header__title>{{ company?.name}}</div>
    <div>
      <span class=stock-header__price>{{globalQuote?.price}}</span>
      <span class=stock-header__currency>{{ company?.currency}}</span>
      <span class="stock-header__variation stock-header__variation--negative"> {{ globalQuote?.change }} ({{globalQuote?.changePercent}}) </span>
    </div>
  </header>
  <section class="stock-body card-body">
    <app-series-options-widget (selected)="onSelected($event)"></app-series-options-widget>
    <canvas class=stock-chart *ngIf="chartData" baseChart [chartType]="'line'" [datasets]="chartData" [labels]="chartLabels"
      [options]="chartOptions" [legend]="true">
    </canvas>
  </section>

  <footer class="stock-footer card-footer">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <span>Open</span>
      </div>
      <div class="col-sm-6 col-md-3">
        <span class=stock-footer__value>{{globalQuote?.open}}</span>
      </div>
      <div class="col-sm-6 col-md-3">
        <span>
          Close
        </span>
      </div>
      <div class="col-sm-6 col-md-3">
        <span class=stock-footer__value>{{globalQuote?.close}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <span>
          High
        </span>
      </div>
      <div class="col-sm-6 col-md-3">
        <span class=stock-footer__value> {{globalQuote?.high}} </span>
      </div>
      <div class="col-sm-6 col-md-3">
        <span>Low</span>
      </div>
      <div class="col-sm-6 col-md-3">
        <span class=stock-footer__value>{{globalQuote?.low}}</span>
      </div>
    </div>
  </footer>
</article>