@import "../../../styles/variables";

.stock {
    padding: 10px
}

.stock-header {
    line-height: 1.2;
    
    &__title {
        font-size: 20px;
        color: $color;
        margin-bottom: 10px;
    }
    &__price {
        color: $color-secondary;
        font-size: 27px;
        font-weight: 400;
        padding-right: 4px;
    }
    &__currency {
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        padding-right: 4px;
    }
    &__variation {
        font-size: 16px;
        font-weight: 400;
        &--negative {
            color: $color-negative;
        }
    }
}

.stock-chart {
    margin: 10px 0;
}
.stock-footer {
    &__value {
        color: $color;
    }
}

