<form class="form-inline">
  <input class="form-control my-2 my-lg-0" type="search" (change)="onSelected($event)" (keyup)="searchTerm$.next($event.target.value)" placeholder="Search"
    aria-label="Search" list="companies">

  <datalist id="companies">
      <option *ngFor="let result of results">{{ result | nameFormatter }}</option>
  </datalist>
</form>